*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: #a08181;
}
nav li{
    display: inline-block;
}
nav li a{
    display: inline-block;
    color: aliceblue;
    text-decoration: none;
    padding: 15px
}
nav li a:hover{
    background-color: blueviolet;
}
.dropdown-menu{
    position: absolute;
    box-shadow: 0 0 2px black;
    display: none;
}
.dropdown-menu a{
    display: block;
    color: black;    
}
.dropdown:hover .dropdown-menu{
    display: block;
}